.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #212529; /* Dark background */
  color: white;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav li {
  margin-left: 2rem;
}

.main-nav a {
  text-decoration: none;
  color: #f8f9fa;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}

.main-nav a:hover {
  border-bottom: 2px solid #007bff;
}

.header-right {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
}

.search-bar input {
  background-color: #343a40;
  border: 1px solid #495057;
  color: white;
  padding: 0.5rem;
  border-radius: 4px 0 0 4px;
}

.search-bar input::placeholder {
  color: #adb5bd;
}

.search-bar button {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  border-left: none;
  padding: 0.5rem 1rem;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #343a40;
  list-style: none;
  padding: 0; /* Remove padding */
  margin: 0;
  border-radius: 4px;
  z-index: 1000;
  display: flex; /* Use flexbox */
  flex-direction: row; /* Arrange items in a row */
}

.dropdown-menu li {
  margin: 0; /* Remove margin */
}

.dropdown-menu a {
  color: white;
  padding: 0.5rem 1rem;
  display: block;
  border-bottom: none;
  white-space: nowrap; /* Prevent wrapping */
}

.dropdown-menu a:hover {
  background-color: #495057;
  border-bottom: none;
}